.twister {
    background-color: aqua !important;
}

.slogan {
    background-color: red !important;
}

.main_menu {
   background-color:transparent;
   color: red;

}
.head {
    background-color: rgba(0, 0, 0, 0.309);
  
   
}

body {
    background-image: url("../img/space-invaders2.jpg");
}

.content {
    color: black;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6{
    color: red;
    padding-bottom: 20px;
}

footer {
    background-color: black;
}
ul li {
    background-color: transparent;
    color: white;
}
.toggle_link {
    color: white;
}
.iconnav a{
    color: red;
    background-color: transparent;
}


.widget {
    background-color:transparent !important;
}

a {
    color: white;
}

.sidebar {
    color: white;
    float: right;
    background-color: rgba(0, 0, 0, 0.909);
}